
<{extends file="<{$tempdir}>/public/admin.html"}>
<{block name=extendjs}>
<script type="text/javascript" language="javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/js/artdialog/plugins/iframeTools.js"></script>
<{/block}>
<{block name=controlname}>留言列表<{/block}>
<{block name=bodylist}>
<div style="width:auto;overflow-x:hidden;overflow-y:auto">
    <div class="search">
        <div class="search_content">
            <form method="post" name="form1" action="<{ofunc type=url link="/adminpage/ask/module/asklist"}>">
            <label>会员名：</label>
            <input type="text" name="searchvalue" value="<{$searchvalue}>" class="form-control mar-right">
            <select name="typeid" class="form-control">
                <option value="0">选择留言类型</option>
                <{foreach from=$typelist key=myid item=items}>
                <option value="<{$myid}>" <{if $typeid == $myid}>selected<{/if}>><{$items}></option>
                <{/foreach}>
                <input type="submit" value="确认查询" class="button btn-prim">
            </select>
            </form>
        </div>
    </div>
    <div class="tags">
        <div id="tagscontent">
            <div id="con_one_1">
                <div class="table_td mart15">
                    <form method="post" action="" onsubmit="return remind();"  id="delform">
                        <table  class="list table table-bordered" name="table" id="table" >
                            <thead>
                            <tr>
                                <th width="40px"><input type="checkbox" id="chkall" name="chkall" onclick="checkall()"></th>
                                <th>留言人</th>
                                <th>内容</th>
                                <th>留言时间</th>
                                <th>留言类型</th>
                                <th>留言回复</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <{load_data assign="list" table="ask" showpage="true" where="<{$where}>" orderby="id desc"}>
                            <{foreach from=$list['list'] item=items}>
                            <tr class="s_out">
                                <td><input type="checkbox" name="id[]" value="<{$items['id']}>"></td>
                                <td><{if empty($items['uid'])}>游客
                                    <{else}>
                                    <{load_data assign="userinfo" table="member" type="one" where="uid='<{$items['uid']}>'" fileds="username" }>
                                    <{$userinfo['username']|default:''}><{/if}>
                                </td>
                                <td> <{$items['content']}> </td>
                                <td><{$items['addtime']|date_format:"%Y-%m-%d %H:%M:%S"}></td>
                                <td><{$typelist[$items['typeid']]}></td>
                                <td><{$items['replycontent']}></td>
                                <td><{if empty($items['replycontent'])}>
                                    <a href="#" onclick="reask('<{$items['id']}>',this);" class="fa fa-envelope" title="回复"></a><{/if}>
                                    <a onclick="return remind(this);" href="<{ofunc type=url link="/adminpage/ask/module/delask/id/<{$items['id']}>/datatype/json"}>" class="fa fa-trash" title="删除"></a>
                                </td>
                            </tr>
                            <{/foreach}>
                            </tbody>
                        </table>
                        <input type="hidden" name="stopoutenable" id="stopoutenable" value="4ce2f22509228162cadfc0ca0473ec19"/>
                    </form>
                    <div class="page_newc marT20">
                        <div class="select_page">
                            <a href="#" onclick="checkword(true);" class="color-f">全选</a> / <a href="#" onclick="checkword(false);" class="color-f">取消</a>
                            <a onclick="return remindall(this);" href="<{ofunc type=url link="/adminpage/ask/module/delask/datatype/json"}>" class="button btn-prim">删除</a>
                        </div>
                        <div class="show_page"><ul><{$list['pagecontent']}></ul></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="askback" style="display:none;">
    <div>
        <table class="list tableList" name="table" id="table" >
            <tbody>
            <tr>
                <td><textarea name="askback" class="form-control" style="height:70px;width:200px"></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" value="确认提交" class="button btn-prim mart15"></td>
            </tr>
        </table>
    </div>
    <input type="hidden" name="askbackid" id="askbackid" value="">
</div>
<script>
    var dialogs ;
    function reask(ids,obj){
        var formurl = '<{ofunc type=url link="/adminpage/ask/module/backask/datatype/json"}>';
        $('#askbackid').val(ids);
        var showcontent = '<form method="post" name="form1" action="'+formurl+'" onsubmit="return subform(\'<{ofunc type=url link="/adminpage/ask/module/asklist"}>\',this);">'

        showcontent += $('#askback').html();
        showcontent +='</form>';
        var dialog =  art.dialog({
            title:'留言回复',
            id:'ask',
            content: showcontent
        });
    }
</script>
<{/block}>