<!--<!DOCTYPE html>
<html lang="en">
<head>
    <title>排号提醒</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="<{$siteurl}>/newstyle/css/mui.min.css">
    <link rel="stylesheet" href="<{$siteurl}>/newstyle/css/style.css">
    <style>
         .phtx{ font-size: 24px; margin: 10px;}
         .phtx li{ line-height: 35px;}
    </style>
</head>
<body>



    <ul class="phtx">
        <li>排号提醒</li>

        <li>所在门店:<{$cxinfo['shopname']}></li>
        <li>排队号码:<{$pdhm['qhms']}></li>
        <li>前面等待:<{$count}></li>
    </ul>
        

   
</body>
</html>-->