<!DOCTYPE html>
<html lang="en">
<head>
    <title>会员卡列表</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/mui.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="color_block padd4 cssBox justify">
    <div class="font14">会员卡</div>
    <a href="couponList.html">更多会员卡</a>
</div>
<ul class="clearfix">
    <li class="pos_r">
        <img src="images/index/2.jpg" class="center-block cirle_radius" height="120" width="100%"/>
        <div class="card_box">
            <div class="mui-pull-left card_logo">
                <img src="images/index/2.jpg"/>
            </div>
            <div class="mui-pull-left card_name">
                <p>炫彩生活</p>
                <p class="font14">真彩皮具真彩皮具真彩皮具</p>
            </div>
        </div>
        <div class="card_boxa">
            <div class="mui-pull-right">2016-08-21至2017-06-28</div>
        </div>
    </li>
</ul>

</body>
</html>