<!DOCTYPE html>
<html lang="en">
<head>
    <title>预订</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="<{$siteurl}>/newstyle/css/font-awesome.min.css">
    <link rel="stylesheet" href="<{$siteurl}>/newstyle/css/mui.min.css">
    <link rel="stylesheet" href="<{$siteurl}>/newstyle/css/style.css">
</head>
<body>
<div class="mui-content marb50">

    <div class="marb10 yd_box">
        <div class="cssBox">
            <img src="<{$shopinfo['shoplogo']}>" />
            <div class="flex cssBox vertical box-pack">
                <ul class="font12">
                    <li>月售：<{$sellcnt|default:'0'}>份</li>
                    <li>营业时间：<{$shopinfo.starttime}></li>
                    <li>客服：<{$shopinfo.phone}></li>
                    <li>
                        <div class="color_t font20 evaluate_zl mart5">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mui-row font12" style="margin-top: 15px;">
            <div class="mui-col-xs-6">
                <div class="yuan_box yuan_a">折</div><div class="yd_s">会员享受9.8折</div>
            </div>
            <div class="mui-col-xs-6">
                <div class="yuan_box yuan_b">减</div><div class="yd_s">首单消费满300减30</div>
            </div>
        </div>
    </div>

    <ul class="xe_menu clearfix marb10 bg_while">
        <li>
            <a href="<{ofunc type=url link="/wxsite/shoppreonline/id/<{$id}>"}>">
                <div class="center vertical">
<!--                     <div class="yd-box center yd_ba">
                        <span class="fa fa-comments"></span>
                    </div> -->

                    <img class="icon" src="<{$siteurl}>/templates/m7/public/wxsite/images/icon_zxyy.png"  />
                    <div class="menu_title font14">在线预订</div>
                </div>
            </a>
        </li>
        <li>
            <a href="tel:<{$shopinfo.phone}>">
                <div class="center vertical">
<!--                     <div class="yd-box center yd_bb">
                        <span class="fa fa-phone"></span>
                    </div> -->
                    <img class="icon" src="<{$siteurl}>/templates/m7/public/wxsite/images/icon_dhyy.png" alt="" />
                    <div class="menu_title font14">电话预订</div>
                </div>
            </a>
        </li>
        <li>
            <a href="<{ofunc type=url link="/wxsite/shopbaidumap/position/<{$position}>/addr/<{$address}>"}>">
                <div class="center vertical">
<!--                     <div class="yd-box center yd_bc">
                        <span class="fa fa-map-marker"></span>
                    </div> -->
                    <img class="icon" src="<{$siteurl}>/templates/m7/public/wxsite/images/icon_sjdh.png" alt="" />
                    <div class="menu_title font14">商家导航</div>
                </div>
            </a>
        </li>
    </ul>

    <div class="mui-table-view">
        <div class="mui-table-view-cell ">
            <div class="font14">
                <p class="them"><i class="fa fa-info-circle marl5"></i>温馨提示：</p>
                <div><{$remark}></div>
               
            </div>
        </div>
    </div>

</div>
<script src="<{$siteurl}>/newstyle/js/jquery-1.12.2.min.js"></script>

</body>
</html>