<!DOCTYPE html>
<html lang="en">
<head>
    <title>赞赏殷勤的<{$empInfo['applypost']}></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link href="<{$siteurl}>/newstyle/css/reward/star-rating.css" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="<{$siteurl}>/newstyle/css/reward/style.css">
</head>
<body>
<form name='reward' method="post" action="{:U('Third/weixin_reward_commit')}"  onsubmit="return validate_form(this)">
<div class="cssBox boxAlign" >
    <div class="leftBox">
        <img src="<{$siteurl}>/newstyle/images/reward/vs.png" />
        <div class="position">
            <img src="<{$empInfo['picurl']}>" />
        </div>
    </div>
    <div class="rightBox">
        <div class="textEdit bgcolor"><{$empInfo['name']}></div>
    </div>
</div>
<div style="overflow: hidden;">
    <div class="textEdit bgcolor1">
        <div class="pfCommon pf">评分：</div>
        <div class="pfCommon showPf" id="target"></div>
    </div>
    <div id="star"></div>
    <div class="textEdit bgcolor1">
        <div class="pfCommon pf">点评：</div>
        <div class="pfCommon showPf">
         	<{if $recordInfo.comment == ''}>
				<input type="text"  class="inputStyle" id="dianping" name="dianping" value="很好" placeholder="点评"/>
			<{else}>
				<input type="text"  class="inputStyle" id="dianping" name="dianping" value="<{$recordInfo.comment}>" placeholder="点评"/>
			<{/if}>
        </div>
    </div>
    <ul class="pjList" id="goodp">
            <li <{if $recordInfo.comment == $re_array_set.comment1 || $recordInfo.comment == ''}>class="active"<{/if}>><{$re_array_set.comment1}></li>
            <li <{if $recordInfo.comment == $re_array_set.comment2}>class="active"<{/if}>><{$re_array_set.comment2}></li>
            <li <{if $recordInfo.comment == $re_array_set.comment3}>class="active"<{/if}>><{$re_array_set.comment3}></li>
            <li <{if $recordInfo.comment == $re_array_set.comment4}>class="active"<{/if}>><{$re_array_set.comment4}></li>
	        <li <{if $recordInfo.comment == $re_array_set.comment5}>class="active"<{/if}>><{$re_array_set.comment5}></li>
    </ul>
    <div class="textEdit bgcolor1">
        <div class="pfCommon pf">打赏：</div>
        <div class="pfCommon showPf">
            <input type="text"  value="10" class="inputStyle" id="price" name="price"  placeholder="打赏金额"/>
            <{if $recordInfo.start == ''}>
             <input type="hidden" id="rew_start" name="rew_start" value="5">
            <{else}>
            <input type="hidden" id="rew_start" name="rew_start" value="<{$recordInfo.start}>">
            <{/if}>
           
        </div>
    </div>
    <ul class="pjList" id="das">
        <li <{if $recordInfo.fee == $re_array_set.price1}>class="active"<{/if}>><{$re_array_set['price1']}></li>
        <li <{if $recordInfo.fee == $re_array_set.price2}>class="active"<{/if}>><{$re_array_set['price2']}></li>
        <li <{if $recordInfo.fee == $re_array_set.price3}>class="active"<{/if}>><{$re_array_set['price3']}></li>
        <li <{if $recordInfo.fee == $re_array_set.price4}>class="active"<{/if}>><{$re_array_set['price4']}></li>
        <li <{if $recordInfo.fee == $re_array_set.price5}>class="active"<{/if}>><{$re_array_set['price5']}></li>
    </ul>
  <!--   <div class="textEdit bgcolor">打赏人：<span>小帅</span></div> -->
    <div class="twoButton">
        <a href="<{ofunc type=url link='/wxsite/employeeList/sn/'}><{$sn}>"><button type="button" style="margin-right: 10%;">赏金排行</button></a>
        <button type="button" class="dashang">立即打赏</button>
    </div>
<!--  
        <div class="bigWait" style="position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.5); top:0; display:none; z-index:99;">
        <div class="wait" style="z-index:100;">
            <div class="message">
                <div class="title">友情提醒</div>
                <div class="center">正在获取支付状态...</div>
                <div class="bottom">确认</div>
            </div>
        </div>
    </div>
     -->
</div>

<div class="box2">
    <div class="boxTitle"><b>介绍说明</b></div>
    <p><{$re_array_set.memo}></p>
</div>
</form>
<js href="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"/>
<script src="<{$siteurl}>/newstyle/js/reward/jquery-1.12.2.min.js"></script>
<script src="<{$siteurl}>/newstyle/js/reward/jquery.raty.js"></script>
<link rel="stylesheet" href="<{$siteurl}>/newstyle/css/sweetalert.css"/>
<script src="<{$siteurl}>/newstyle/js/reward/sweetalert.min.js"></script>
<script src="<{$siteurl}>/templates/adminpage/public/js/allj.js"></script>
<script>
 
    $('.dashang').click(function(){
    	var price = $('#price').val()
    	var dianping = $('#dianping').val()
    	var score = $("input[name=score]").val();
    	var id    = "<{$recordInfo['id']}>"
    	if(!checkRate(price)){
    		alert("请输入正确的金额");
    		return false;
    	}
 
    	var data = {'id':id,'price':price,'dianping':dianping,'score':score};
        var url = '<{ofunc type=url link="/wxsite/rewardpayment/random/@random@/datatype/json"}>'; 
        var backdata = ajaxback(url,data); 
        if(backdata.flag == false){
            window.location.href = backdata.content;
            //alert(backdata.content);
        }else{
           	alert(backdata.content);
        }
	 
    })  
    //    评分
    $('#star').raty({
        path: 'http://eat.banklay.cn/newstyle/images/reward/',
        starOff: 'star-off-big.png',
        starOn: 'star-on-big.png',
        target : '#target',
        targetText : $('#rew_start').val(),
        targetType: 'number',
        score: $('#rew_start').val()

    });

    //    点评
    $('#goodp li').click(function(){
        var i = $(this).index();
        $('#goodp li').stop().removeClass('active').eq(i).stop().addClass('active');
        var j = $(this).text();
        $('#dianping').val(j);
    });
//
//    //    打赏
    $('#das li').click(function(){
       var i = $(this).index();
        $('#das li').stop().removeClass('active').eq(i).stop().addClass('active');
       var j = $(this).text();
        $('#price').val(j);
    }); 

    function validate_form(){
    	if($('#price').val() =='' ){
			  alert("请填写打赏金额!");
			  return false;
		  }
    }

$(document).click(function(){
	var score = $("input[name=score]").val();
    $('#target').html(score);
    })
    
 	function closeDialog() {
		$('.sweet-overlay').fadeOut();
		$('.showSweetAlert').fadeOut();
	} 

function checkRate(nubmer) {
	　　var re = /^[0-9]+.?[0-9]*$/; //判断字符串是否为数字 //判断正整数 /^[1-9]+[0-9]*]*$/ 
	　　var nubmer = nubmer;

	　　if (!re.test(nubmer)) {
	　　　　return false;
	　　}
	    if(nubmer <=0){
			return false;
		}
	    return true;
	}
$("img").error(function() {
	$(this).attr("src", "http://eat.banklay.cn/newstyle/images/reward/a1.jpg");
});
</script>
</body>
</html>