<!DOCTYPE html>
<html lang="en">
<head>
    <title>错误提醒</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <style>
         html,body{height: 100%;}
    </style>
</head>
<body>

<div class="bgBox">
    <div class="box">
        <img src="__PUBLIC__/images/reward/zhutu.png"/>
    </div>
	    <div class="box1">
	        <div class="textEdit bgcolor">错误提醒</div>
	    </div>
    <div class="box2" style="margin-top: 30px;">
        <p style="text-align: center;"><b style="color:rgba(255,255,255,1)"> {$msg}</b></p>
    </div>
</div>
<script src="__PUBLIC__/js/jquery-1.11.3.js"></script>

</body>
</html>