<{extends file="<{$tempdir}>/public/admin.html"}>
<{block name=extendjs}>
<script type="text/javascript" language="javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/js/artdialog/plugins/iframeTools.js"></script>
<script src="<{$siteurl}>/templates/<{$tempdir}>/public/js/datepicker/WdatePicker.js" type="text/javascript" language="javascript"></script>
<{/block}>
<{block name=controlname}>订单备注<{/block}>
<{block name=bodylist}>
<div style="width:auto;overflow-x:hidden;overflow-y:auto">

    <div id="tagscontent">
        <div id="con_one_1">
            <div class="table_td mart15" >
                <form method="post" action="<{ofunc type=url link="/adminpage/order/module/savedrawsm/datatype/json"}>" onsubmit="return subform('<{ofunc type=url link="/adminpage/order/module/drawsmlist"}>',this);">
                <table class="list table table-bordered" name="table" id="table">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>退款原因</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="type">
                    <{if !empty($drawsmlist)}>
                    <{$list = $drawsmlist|unserialize}>
                    <{foreach from=$list key=myid item=items}>
                    <{if !empty($items)}>
                    <tr class="s_out"
                    <{if $myid%2 == 0}>
                    <{else}>
                    <{/if}>
                    >
                    <td><input type="hidden" name="id[]" value=""><{$myid}></td>
                    <td align="left" style="padding-left:10px;">
                        <input type="text" name="typename[]" id="typename[]" value="<{$items}>"  class='skey form-control'/>
                    </td>
                    <td> <a onclick="$(this).parent().parent().remove();" href="javascript:;" class="fa fa-trash" title="删除"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/images/admin/del.jpg"></a></td>
                    </tr>
                    <{/if}>
                    <{/foreach}>
                    <{/if}>
                    </tbody>
                </table>
                <div class="marT20">
                    <input type="submit" name="button" id="button" value="提交保存" class='button btn-prim'>
                    <input type="button" name="button" id="typebutton" value="添加一个" onclick="addbz();" class="button btn-prim" />
                </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    function addbz(){
        var 	htmldata='<tr class="s_out">';
        htmldata+='<td><input type="hidden" name="id[]" value=""></td>';
        htmldata+='<td align="left" style="padding-left:10px;">';
        htmldata+='<input type="text" name="typename[]" id="typename[]" value=""  class=\'skey form-control\'/> </td>';
        htmldata+='<td> <a onclick="$(this).parent().parent().remove();" href="javascript:" class="fa fa-trash" title="删除"></a></td></tr>';
        $('#type').append(htmldata);
    }
</script>
<{/block}>