<{extends file="<{$tempdir}>/public/shopcenter.html"}>
<{block name=extendjs}>
<script src="<{$siteurl}>/templates/<{$tempdir}>/public/js/jquery.PrintArea.js" type="text/javascript" language="javascript"></script>
<script src="<{$siteurl}>/templates/<{$tempdir}>/public/js/datepicker/WdatePicker.js" type="text/javascript" language="javascript"></script>
<script>
    var mynomenu='baseordertj';
</script>
<{/block}>
<{block name=bodylist}>
<!---content right start--->
<div class="conWaiSet">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 id="positionname">商家结算</h5>

        </div>
    </div>
    <div class="ibox-content clearfix">
        
        <{include file="<{$tempdir}>/shopcenter/order_tj_menu.html"}>
        
        <div class="orderTongji">
            <!--<div class="sjser" style="font-weight:none;">商家订单统计查询</div>-->
            <form action="<{ofunc type=url link="/shopcenter/shopjs"}>" method="post" id="chafrom">
            <div>
      <span>从
	   <input class="form-control" type="text" name="stime" id="stime" value="<{$stime|date_format:"%Y-%m-%d"}>"  onFocus="WdatePicker({isShowClear:false,readOnly:true});" style="width:150px;"/>
	   至
	    <input class="form-control" type="text" name="etime" id="etime" value="<{$etime|date_format:"%Y-%m-%d"}>"  onFocus="WdatePicker({isShowClear:false,readOnly:true});" style="width:150px;"/>
      </span>
                <span id="showmonth"></span>
                <span id="showday"></span>
                <span>总额：<span class="ddnum"><{$tjdata['online']+$tjdata['unline']}>元</span></span>
                <span>佣金：<span class="ddnum"><{$tjdata['yj']}>元</span></span>
                <span>结算额：<span class="ddnum"><{$tjdata['actcost']}>元</span></span>
                <span id="dosubmit" class="btn-a btn-prim">查询</span>
                <!--<span class="tingjiSer curbtn" id="dosubmit"></span>-->
            </div>
            </form>
        </div>
        <div class="caidanSet mart10" style="width: 100%;">
            <!---留言管理----->
            <div  id="liuyan">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>描述</th>
                        <th>配送方式</th>
                        <th>交易类型</th>
                        <th>订单数</th>
                        <th>金额</th>
                        <th>佣金比例</th>
                        <th>佣金</th>
                        <th>结算金额</th>
                        <th>结算时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <{foreach from=$jslist item=items}>
                    <tr>
                        <td rowspan="2"> <{$items['name']}> </td>
                        <td rowspan="2"><{if $items['pstype'] == 1}>店铺配送<{else}>平台配送<{/if}></td>
                        <td> 线上 </td>
                        <td> <{$items['onlinecount']}> </td>
                        <td> <{$items['onlinecost']}> </td>
                        <td rowspan="2"> <{$items['yjb']*0.01}> </td>
                        <td rowspan="2"> <{$items['yjcost']}> </td>
                        <td rowspan="2"> <{$items['acountcost']}> </td>
                        <td rowspan="2"> <{$items['addtime']|date_format:"%Y-%m-%d %H:%M:%S"}> </td>
                    </tr>
                    <tr class="s_out">
                        <td> 线下 </td>
                        <td> <{$items['unlinecount']}> </td>
                        <td> <{$items['unlinecost']}> </td>
                    </tr>
                    <{/foreach}>
                    <!--<tr>-->
                    <!--<td align="right" style=" padding-right:50px;" colspan="9"></td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
                <div class="show_page mart10" style="font-size: 14px;"><{$pagecontent}></div>
            </div>
        </div>
    </div>
</div>

<!---content right end--->

<script>
    $(function(){
        $('#dosubmit').click(function(){
            $('#chafrom').submit();
        });
    });
</script>
<{/block}>