@charset "utf-8";

html, body, img, a img, form,ul,li,p,dl,dd,dt{margin:0;padding:0;border:0 none;}
a{text-decoration: none;}
a{ color:#f0f0f0;}
a:link,a:visited{}
i{ font-style:normal;}
.fl{ float:left;}
.fr{ float:right;}
.cl{ clear:both;}
ul,li{list-style:none;}

	body {
  font-family:'Microsoft YaHei',Arial,Helvetica,sans-serif;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent; 
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	min-height: 600px;
	position: relative;
/*	
scrollBar-face-color:green;  
scrollBar-hightLight-color:red;  
scrollBar-3dLight-color:orange;  
scrollBar-darkshadow-color:blue;  
scrollBar-shadow-color:yellow;  
scrollBar-arrow-color:purple;  
scrollBar-track-color:black;  
scrollBar-base-color:pink;*/	
	
	}
.header{ height:70px;background:#2F4050;}
.top{ height:70px; width:1059px; margin:0 auto; position:relative;}
.topLeft{ width:413px; height:70px;}
.top ul li a{ color:#c7c7c7;}
.topLeft ul li { float:left; font-size:14px; width:100px; text-align:center; color:#c7c7c7; height:70px; line-height:70px;}
.topRight .cost{font-size:14px; height:70px; line-height:70px; text-align:center; color:#ec7501; margin-right:26px; }
.cost img,.username img{margin-left:11px; margin-bottom:2px;}
.username{font-size:14px; height:70px; line-height:70px; color:#2f90bb; margin-right:32px;}
.shangjiaTop{ position:absolute; top:0px;  left:50%; margin-left:-100px; width:230px; height:66px; padding:22px 20px;}
.shangjiaTop .sjgl{  width:228px; height:70px; background:url(../images/shangjiahoutai.png) no-repeat; }
.shangjiaTop .sjglorder{  width:228px; height:70px; background:url(../images/lefuDkbg.png) no-repeat; }
.shangjiaTop .sjglaa{  width:228px; height:70px; background:url(../images/orderQuiBg.png) no-repeat; }
.shangjiaTop .sjgl span{ margin-left:10px;  font-weight:600; color:#f0f0f0; font-size:24px; height:70px; line-height:70px;}

.footer{width: 100%;position: fixed;bottom: 0;left:0;border-top: 1px solid #ccc;background-color: #fff;padding: 10px 0;color: #6d7277; font-size:12px; text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}



.foot1 a{  padding: 0 10px;color: #6d7277;	font-family:'Microsoft YaHei',Arial,Helvetica,sans-serif;}
.foot2{ margin-top:10px; }
.mart20{margin-top: 30px;}
.mart10{margin-top: 15px;}